h1,h2,h3,h4, p, td, th {
    padding: 10px;
    font-family: "Source Sans", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #222;
}

td {
    border-bottom: 1px solid lightgray;
}

th {
    font-style: italic;
    border-bottom: 3px solid black;
}

.list_describe {
    font-style: italic;
}

#output {
    padding: 10px;
    min-height: 15px;
    width: 50%;
    display: block;

    background-color: lightgray;
}